body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  
  }

.menu{
    width: 50%;
    height: 50vh;
}

  @media (350px <= width <= 900px) {
    
.inicio{
  width: 324px;
height: 74px;
color: #FFF;
text-decoration: none;
flex-shrink: 0;
text-align: center;
font-family: Inter;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 8%;
background-color: #D9D9D9;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.text{
    width: 351px;
    height: 130px;
    flex-shrink: 0;
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
background-color: #D9D9D9;
display: flex;
justify-content: center;
align-items: center;
}
.teach{
    width: 352px;
    height: 198px;
    flex-shrink: 0;
}
  }
  